current-context: vchq-context
apiVersion: v1
clusters:
- cluster:
    api-version: v1
    certificate-authority-data: {{ ca_pem.stdout| b64encode }}
    server: https://{{ ansible_nodename }}:6443
  name: vchq-cluster
contexts:
- context:
    cluster: vchq-cluster
    user: {{kube_user }}
  name: vchq-context
kind: Config
preferences:
  colors: true
users:
- name: {{kube_user}}
  user:
    client-certificate-data: {{user_pem.stdout|b64encode}}
    client-key-data: {{user_key.stdout|b64encode}}
